- var website_name = "IMAGO"
- var meta_description = "「想像すること」とは何だろうか？これが、本作のテーマであり、モチーフである。"

doctype html
html(lang="ja")
  head  
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{website_name}
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="description", content="#{meta_description}")
    meta(name="keywords", content="IMAGO, yoshida hiroshi, 吉田博")
    meta(name="theme-color", content="#ffffff")
    
    link(rel="shortcut icon" href="./img/common/icon.ico")
    link(rel="apple-touch-icon" href="./img/common/app-icon.ico")
    link(rel="stylesheet" href="./css/main.css")

    meta(property="og:title", content="#{website_name}")
    meta(property="og:site_name", content="#{website_name}")
    meta(property="og:type", content="website")
    meta(property="og:description", content="#{meta_description}")
    meta(property="og:url", content="")
    meta(property="og:image", content="")
    
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content="#{website_name}")
    meta(name="twitter:description", content="#{meta_description}")
    meta(name="twitter:image", content="")

  body
    .c-introduction
      .c-introduction__wrap
        h1.c-introduction__header
          span.c-introduction__text.c-introduction__text--01 I
          span.c-introduction__text.c-introduction__text--02 M
          span.c-introduction__text.c-introduction__text--03 A
          span.c-introduction__text.c-introduction__text--04 G
          span.c-introduction__text.c-introduction__text--05 O
        .c-introduction__loading
      .c-introduction__bg.c-introduction__bg--01
      .c-introduction__bg.c-introduction__bg--02
      .c-introduction__bg.c-introduction__bg--03
      .c-introduction__bg.c-introduction__bg--04
    .c-summary
      h1.c-summary__header
        |IMAGO
      p.c-summary__paragraph
        |[→] and [j] : view next image.
        br
        |[←] and [k] : view preview image. 
    .c-pager
      span.c-pager__current 0
      |/
      span.c-pager__all 0
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js")
    script(src="//code.jquery.com/jquery-2.2.0.min.js")
    script(src="js/main.js")
